header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #ddd;
    font-weight: bold;
    text-align: center;
  }
  
  section {
    margin: 20px auto;
    max-width: 800px;

  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
  }
  
  .gallery img:hover {
    filter: none;
  }
  
  audio {
    margin: 20px auto;
    display: block;
    width: 100%;
  }
  
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
  }
  
  